* {
  box-sizing: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 120rem;
  min-width: 320px;
  padding: 0 2rem;
  margin: 0 auto;
}

.list {
  width: 75%;
  font-size: 1.6rem;
  padding: 0 2rem;
  margin: 0 auto;
  list-style-type: none;
}

.tweet {
  display: flex;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px .5rem;
  margin-bottom: 1.3rem;
}

.tweet__left {
  flex-grow: 30%;
  padding: 1rem 2rem 0 1rem;
}

.tweet__right {
  flex-grow: 1;
}

.avatar {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.tweet__author {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1rem 0 0 0;
  
}

.tweet__date {
  margin: 0;
  margin-bottom: 4px;
  color: grey;
}

.tweet__reply {
  font-size: 1.2rem;
  color: grey;
  margin: 0;
  margin-bottom: .8rem;
}

.tweet__text {
  font-size: 1.6rem;
  margin: 0;
  margin-bottom: 9px;
  padding: 0 5px 0 0;
  word-wrap: break-word;
}

.tweet__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12%;
  height: 2rem;
  padding-left: auto;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.tweet__icon {
  font-size: 2.7rem;
  color: #697784;
  margin-left: -1rem;
}

.tweet__like {
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
}
.tweet__likes-count,
.tweet__replies-count {
  font-size: 1.2rem;
}
.tweet__likes-count {
  margin-left: -5rem;
  padding-top: 3px;
}

.tweet__replies-count {
  margin-left: -2rem;
  padding-top: 3px;
}



/* Typography */
.heading-secondary {
  font-size: 1.8rem;
}